body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(236,70,70,1) 0%, rgba(0,212,255,1) 100%);
}

#container{
    width:60%;
    margin: 0px auto;
}
header{
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    color: rgb(0, 0, 0);
}
footer{
    background: rgb(80, 80, 80);
    color: aliceblue;
    border-color: rgb(143, 143, 143);
}

#content{   
    background:rgb(59, 4, 104);
    color: aliceblue;
    border-color: rgb(255, 0, 0);
}