:root {
    --white: #fff;
    --black: #000;
    --primary: #00abfb;
    --secondary: #7bc62d;
    --gray: #9e9e9e;
    --primaryfont: Arial, Helvetica, sans-serif;
    --cyan: #0ea79a;

}

body {
    font-family: var(--primaryfont);
    background-image: linear-gradient(to top,#ffffff71 0%,#fff 100%);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

.title  {
    text-align: center;
    color: var(--black);
    font-family: var(--primaryfont);
    font-weight: 700;

}

.title span {
    font-size: 20px;
} 

.content {
    width: 1000px;
    margin: 0 auto;
}



.shadow {
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    background-color: var(--white);
    padding: 20px;
}

.nav-bg {
    background-color: var(--cyan);
}

.primary-nav {
    display: flex;
    justify-content: space-evenly;
}

.primary-nav a {
    color: var(--white);
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.primary-nav a:hover {
    background-color: var(--cyan);
    color: var(--black);
}

.hero {
    background-image: url(/imagenes/uai.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    margin-bottom: 20px;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(133, 136, 135, 0.389);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, 
.contenido-hero p {
    color: var(--white);
    text-align: center;
}

.location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
    margin-bottom: 20px;
}




