.ocultar {
    display: none;
}

.ruleta {
    margin-top: 20px;
    display: flex;
    width: 700px;
    height: 430px;
    box-shadow: 7px 13px 37px #000;
  }
  .ruleta img{
    width: 100px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }
  .ruleta img:hover{
    cursor: crosshair;
    width: 700px;
    opacity: 1;
    filter: contrast(120%);
    box-sizing: border-box;
    max-width: 700px;
  }

.titulo-v {
    text-align: center;
}


.carta {
    display: flex;
    gap: 50px;
    width: 1500px;
    flex-wrap: wrap;
    justify-content: center;
}

.card__perfil {
    width: 320px;
    padding: 20px;
    box-shadow: 7px 13px 37px #000;
    background: #24303c;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    margin-top: 30px;
    border-radius: 50px;
    margin-bottom: 50px;

}

.card__perfil:hover {
    cursor: crosshair;
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}


.card__img {
    width: 300px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px black;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.card__nombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: white;
}

.hr{
    width: 440px;
    height: 4px;
    background: #1f53c5;
    margin: 20px 5px;
}

.card__img:hover{
    cursor: crosshair;
    width: 400px;
    opacity: 1;
    ;
  }

.card__descripcion {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: white;
}

.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    background: #ccc;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-decoration: underline;
    text-decoration-color: #ccc;
}

.txt__fotos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background: #ccc;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    margin-top: 30px;
    display: flex;
    gap: 50px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: #ccc;
}



.shadow {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    background-color: #24303c;
    padding: 20px;
    width: auto;
    text-align: left;
}